<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.smilehacker.ashes"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".account.AccountService"
                 android:exported="true"
                 android:process=":core"
                 >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>

        </service>

        <service android:name=".account.AccountSyncService"
                 android:exported="true"
                 android:process=":sync">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <provider
            android:name=".account.AccountProvider"
            android:authorities="@string/account_auth_provider"
            android:exported="false"
            android:syncable="true"
            />

    </application>

</manifest>